*.log

.DS_Store
Thumbs.db

.env
.env.*
!.env.example

.phpactor.json
.phpunit.result.cache
/.phpunit.cache

/.idea
/.vscode
/.zed
/.nova
/.codex
/.cursor/

auth.json

/node_modules

/public/build
/public/hot
/public/storage
/public/fonts-manifest.dev.json

/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/pail

/vendor

_ide_helper.php
_ide_helper_models.php

Homestead.json
Homestead.yaml